body {
  overflow: hidden;
  background-color: black;
  margin: 0;
}

p {
  margin: 0;
}

.Grid {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;

  position: relative;
}

.Shadow {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1) 70%);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1;
}

.BackgroundImageContainer {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

.BackgroundImageContainer img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.Info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 3rem;
  opacity: 0.9;
  z-index: 2;

  font-size: 7rem;
  text-shadow: 0 0 0 black, 0 0 2em black, 0 0 1rem black;
}

p {
  color: #2fff00;
}
