body {
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

.Grid {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;

  position: relative;

  background-color: black;
  color: white;
  font-size: 4vw;
}

.BackgroundImage {
  position: absolute;
  top: 0;
}

.DateTime {
  opacity: 0.8;
  margin: 3rem;
  text-shadow: 0 0 0 black, 0 0 2em black, 0 0 1rem black;
}
